################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RemoteDesktop/v15
/RemoteDesktop/bin/Debug
/RemoteDesktop/obj/Debug
